
<table>
	<tr>
		<th>Name</th>
		<th>Homepage</th>
		<th>Details</th>
		<th>Edit</th>
	</tr>
<% @authors.each do |author| %>
	<tr>
		<td><%= author.name %></td>
		<td><%= link_to author.homepage %></td>
		<td><%= link_to "Show", author_path(author) %></td>
		<td><%= link_to "Edit", edit_author_path(author) %></td>
	</tr>
<% end %>
</table>

<%= link_to "Add author", new_author_path %>
