<h1>New author page</h1>

<%= form_for :author, url: authors_path do |f| %>

	<% if @author.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>
		<ul>
			<% @author.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>

	<div>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>

	<div>
		<%= f.label :homepage %>
		<%= f.text_field :homepage %>
	</div>

	<div>
		<%= f.submit "Create Author" %>
	</div>
<% end %>
