
<table>
	<tr>
		<th>Title</th>
		<th>Venue</th>
		<th>Year</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Destroy</th>
	</tr>
<% @papers.each do |paper| %>
	<tr>
		<td><%= paper.title %></td>
		<td><%= paper.venue %></td>
		<td><%= paper.year %></td>
		<td><%= link_to "Show", paper_path(paper) %></td>
		<td><%= link_to "Edit", edit_paper_path(paper) %></td>
		<td><%= link_to "Destroy", paper_path(paper), method: :delete %></td>
	</tr>
<% end %>
</table>

<%= link_to "Add paper", new_paper_path %>

