<h1>New paper page</h1>

<%= form_for :paper, url: papers_path do |f| %>

	<% if @paper.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@paper.errors.count, "error") %> prohibited this author from being saved:</h2>
		<ul>
			<% @paper.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :venue %>
		<%= f.text_field :venue %>
	</div>

	<div>
		<%= f.label :year %>
		<%= f.text_field :year %>
	</div>

	<div>
		<%= f.submit "Create Paper" %>
	</div>
<% end %>

